body{
    background-color: #F7F5F5;
}

h1{
    color:#8F0F00;
    text-align: center;
    font-size: 45px;
    margin-bottom: 100px;
  
}
h3{
    margin-bottom: 5px;
    color: #DB0800;
}

.image{
    height: 250px;
    width: 300px;
    border-radius: 10px;
}

.section{
    margin: 15px 50px;


}
.container{
    display: flex;
    justify-content: center;
}

.link:hover{
    opacity: .5;
}